<!-- O arquivo editar.html estende (herda) o layout base definido no base.html -->
{% extends 'base.html' %}

<!-- Dentro do bloco 'head', nós definimos o título da página -->
{% block head %}
    <title>Atualizar Cliente</title>
{% endblock %}

<!-- No bloco 'body', nós colocamos o conteúdo principal da página -->
{% block body %}
    <!-- Título da página -->
    <h3>Atualizar Cliente</h3>

    <!-- Início do formulário para atualizar um cliente -->
    <!-- A ação do formulário é definida para apontar para a rota 'editar_cliente', passando o 'id' do cliente como parâmetro -->
    <form action="{{ url_for('root.cliente.editar_cliente_get', cpf=cliente.cpf) }}" method="POST">
        <!-- Início do grupo de input para a descrição -->
        <div class='mb-3'>
            <div class='mb-3 d-flex align-items-center'>
                <label for='nome' class='form-label me-2'>Nome:</label>
                <input class='form-control' type='text' name='nome' id='nome' placeholder='Informe o Nome do cliente'
                       required autofocus value="{{ cliente.nome }}"/>
            </div>
            <input class='form-control' type='hidden' name='cpf' id='cpf' placeholder='Informe o CPF do cliente'
                   required value="{{ cliente.cpf }}"/>

            <div class='mb-3 d-flex align-items-center'>
                <label for='logradouro' class='form-label me-2'>Logradouro:</label>
                <input class='form-control' type='text' name='logradouro' id='logradouro'
                       placeholder='Informe o logradouro do cliente' required
                       value="{{ cliente.endereco.logradouro }}"/>
            </div>

            <div class='mb-3 d-flex align-items-center'>
                <label for='numero' class='form-label me-2'>Número:</label>
                <input class='form-control' type='number' name='numero' id='numero' placeholder='Informe o número'
                       required value="{{ cliente.endereco.numero }}"/>
            </div>

            <div class='mb-3 d-flex align-items-center'>
                <label for='complemento' class='form-label me-2'>Complemento:</label>
                <input class='form-control' type='text' name='complemento' id='complemento'
                       placeholder='Informe o complemento' required value="{{ cliente.endereco.complemento }}"/>
            </div>

            <div class='mb-3 d-flex align-items-center'>
                <label for='bairro' class='form-label me-2'>Bairro:</label>
                <input class='form-control' type='text' name='bairro' id='bairro'
                       placeholder='Informe o bairro do cliente' value="{{ cliente.endereco.bairro }}"
                       required/>
            </div>

            <div class='mb-3 d-flex align-items-center'>
                <label for='cep' class='form-label me-2'>CEP:</label>
                <input class='form-control' type='text' name='cep' id='cep' placeholder='Informe o CEP do cliente'
                       required value="{{ cliente.endereco.cep }}"/>
            </div>

            <div class='mb-3 d-flex align-items-center'>
                <label for='cidade' class='form-label me-2'>Cidade:</label>
                <input class='form-control' type='text' name='cidade' id='cidade'
                       placeholder='Informe a cidade do cliente' value="{{ cliente.endereco.cidade }}"
                       required/>
            </div>

            <div class='mb-3 d-flex align-items-center'>
                <label for='uf' class='form-label me-2'>UF:</label>
                <input class='form-control' type='text' name='uf' id='uf' placeholder='Informe a UF do estado'
                       maxlength="2" value="{{ cliente.endereco.uf }}"
                       required/>
            </div>

            <div class='mb-3 d-flex align-items-center'>
                <label for='telefone' class='form-label me-2'>Telefone:</label>
                <input class='form-control' type='text' name='telefone' id='telefone'
                       placeholder='Informe o telefone do cliente' required value="{{ cliente.telefone }}"/>
            </div>

            <div class='mb-3 d-flex align-items-center'>
                <label for='email' class='form-label me-2'>Email:</label>
                <input class='form-control' type='text' name='email' id='email'
                       placeholder='Informe o e-mail do cliente' value="{{ cliente.email }}"
                       required/>
            </div>
        </div>
        <!-- Início do grupo de input para o botão de atualizar -->
        <div class='mb-3'>
            <!-- Botão para enviar o formulário -->
            <button type='submit' class='btn btn-primary mb-3'>Atualizar</button>
        </div>
        <!-- Fim do grupo de input para o botão de atualizar -->
    </form>
    <!-- Fim do formulário para atualizar um cliente -->
{% endblock %}
<!-- Fim do bloco 'body' -->
