<!--
Claudinei de Oliveira - pt-BR - 19-06-2023
Adaptado de Giridhar, 2016
O arquivo index.html que estende base.html e  usa vários recursos do Jinja2, 
incluindo herança de templates. 
Além disso, usa a interpolação de variáveis do Jinja2 para exibir dados dinâmicos
-->

{% extends 'base.html' %} <!-- Este template se baseia no template 'base.html'. Todos os blocos definidos em 'base.html' podem ser preenchidos aqui -->

{% block head %} <!-- Inicio do bloco 'head', onde podemos adicionar conteúdos específicos para o cabeçalho -->
    <title> Listagem de Clientes</title> <!-- Define o título que será exibido na aba do navegador -->
{% endblock %} <!-- Fim do bloco 'head' -->

{% block body %} <!-- Inicio do bloco 'body', onde podemos adicionar conteúdos específicos para o corpo da página -->

    <!-- Começa o bloco para exibir mensagens flash, se houver -->
    {% with messages = get_flashed_messages() %}
        <!-- Verifica se há mensagens para mostrar -->
        {% if messages %}
            <!-- Define a estrutura da mensagem, incluindo um botão para fechar a mensagem -->
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <!-- Mostra a primeira mensagem flash -->
                {{ messages[0] }}
                <!-- Define o botão para fechar a mensagem -->
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endwith %}

    {% if clientes %} <!-- Verifica se existe uma lista de clientes. Se existir, exibe a tabela de clientes -->

        <h3>Clientes</h3> <!-- Cabeçalho da página -->

        <table class="table">
            <!-- Define o cabeçalho da tabela -->
            <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>CEP</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>#</th>
            </tr>
            </thead>
            <!-- Define o corpo da tabela -->
            <tbody>
            <!-- Loop para cada cliente na lista de clientes -->
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.cpf }}</td>
                    <td>{{ cliente.cep }}</td>
                    <td>{{ cliente.telefone }}</td>
                    <td>{{ cliente.email }}</td>

                    <td>
                        <a href="{{ url_for('root.cliente.editar_cliente_get', id=cliente.id) }}"
                           class="btn btn-primary btn-sm">Editar</a>
                        <form action="{{ url_for('root.cliente.deletar_cliente', id=cliente.id) }}"
                              method="post" id="delete_cliente_form">
                            <button class="btn btn-danger btn-sm removerCliente" type="submit">Deletar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %} <!-- Se não existem clientes -->
        <!-- Exibe uma mensagem indicando que não existem clientes cadastrados -->
        <h3>Ainda não existem clientes cadastrados...</h3>
    {% endif %}

    <div>
        <!-- Exibe um link para a página de criação de um novo cliente -->
        <h3><a class='btn btn-primary' href='{{ url_for("root.cliente.novo_cliente_get") }}'>Adicionar Cliente</a></h3>
    </div>
{% endblock %}
<!-- Fim do bloco 'body' -->

{% block script %}
    <script>
        let listaRemoveButton = document.getElementById("delete_cliente_form");
        listaRemoveButton.onsubmit = () => confirm("Tem certeza que deseja excluir esse cliente?")
    </script>
{% endblock script %}
