<!--
Claudinei de Oliveira - pt-BR - 19-06-2023
Adaptado de Giridhar, 2016
O arquivo index.html que estende base.html e  usa vários recursos do Jinja2, 
incluindo herança de templates. 
Além disso, usa a interpolação de variáveis do Jinja2 para exibir dados dinâmicos
-->

{% extends 'base.html' %} <!-- Este template se baseia no template 'base.html'. Todos os blocos definidos em 'base.html' podem ser preenchidos aqui -->

{% block head %} <!-- Inicio do bloco 'head', onde podemos adicionar conteúdos específicos para o cabeçalho -->
    <title> Listagem de Clientes</title> <!-- Define o título que será exibido na aba do navegador -->
{% endblock %} <!-- Fim do bloco 'head' -->

{% block body %} <!-- Inicio do bloco 'body', onde podemos adicionar conteúdos específicos para o corpo da página -->

    <!-- Começa o bloco para exibir mensagens flash, se houver -->
    {% with messages = get_flashed_messages() %}
        <!-- Verifica se há mensagens para mostrar -->
        {% if messages %}
            <!-- Define a estrutura da mensagem, incluindo um botão para fechar a mensagem -->
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <!-- Mostra a primeira mensagem flash -->
                {{ messages[0] }}
                <!-- Define o botão para fechar a mensagem -->
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endwith %}

    {% if clientes %} <!-- Verifica se existe uma lista de clientes. Se existir, exibe a tabela de clientes -->

        <h3>Clientes</h3> <!-- Cabeçalho da página -->

        <table class="table">
            <!-- Inicia a tabela. A classe 'table' é uma classe do Bootstrap para estilizar tabelas -->

            <!-- Define os cabeçalhos da tabela -->
            <tr> <!-- Inicia a linha de cabeçalho -->
                <th>Nome</th>
                <th>CPF</th>
                <th>Logradouro</th>
                <th>Numero</th>
                <th>Complemento</th>
                <th>Bairro</th>
                <th>Cep</th>
                <th>Cidade</th>
                <th>UF</th>
                <th>Telefone</th>
            </tr> <!-- Fim da linha de cabeçalho -->

            {% for cliente in clientes %} <!-- Para cada cliente na lista de clientes, cria uma nova linha na tabela -->
                <tr> <!-- Inicia a linha para um cliente -->
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.cpf }}</td>
                    <td>{{ cliente.endereco.logradouro }}</td>
                    <td>{{ cliente.endereco.numero }}</td>
                    <td>{{ cliente.endereco.complemento }}</td>
                    <td>{{ cliente.endereco.bairro }}</td>
                    <td>{{ cliente.endereco.cep }}</td>
                    <td>{{ cliente.endereco.cidade }}</td>
                    <td>{{ cliente.endereco.uf }}</td>
                    <td>{{ cliente.telefone }}</td>
                    <td><a class='btn btn-success' href='#'>Editar</a></td>

                    <!-- Exibe um link para deletar o cliente -->
                    <td><a class='btn btn-danger' href='#'>Deletar</a></td>
                </tr> <!-- Fim da linha para um cliente -->

            {% endfor %} <!-- Fim do loop for -->

        </table> <!-- Fim da tabela -->

    {% else %} <!-- Se não existem clientes -->
        <!-- Exibe uma mensagem indicando que não existem clientes cadastrados -->
        <h3>Ainda não existem clientes cadastrados...</h3>
    {% endif %}

    <div>
        <!-- Exibe um link para a página de criação de um novo cliente -->
        <h3><a class='btn btn-primary' href='{{ url_for("root.cliente.novo_cliente_get") }}'>Adicionar Cliente</a></h3>
    </div>

{% endblock %} <!-- Fim do bloco 'body' -->
