<!--
Claudinei de Oliveira - pt-BR - 19-06-2023
Adaptado de Giridhar, 2016
O arquivo novo.html - todas as classes são do bootstrap -->

<!-- Estende o layout base.html -->
{% extends 'base.html' %}

<!-- Início do bloco head, que substituirá o bloco head em base.html -->
{% block head %}
    <!-- Define o título da página -->
    <title>Adicionar Novo Cliente</title>
{% endblock %}

<!-- Início do bloco body, que substituirá o bloco body em base.html -->
{% block body %}
    <!-- Define o cabeçalho da página -->
    <h3>Adicionar Novo Cliente</h3>

    <!-- Começa o bloco para exibir mensagens flash, se houver -->
    {% with messages = get_flashed_messages() %}
        <!-- Verifica se há mensagens para mostrar -->
        {% if messages %}
            <!-- Define a estrutura da mensagem, incluindo um botão para fechar a mensagem -->
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <!-- Mostra a primeira mensagem flash -->
                {{ messages[0] }}
                <!-- Define o botão para fechar a mensagem -->
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endwith %}

    <!-- Define o formulário para adicionar um novo cliente -->
    <form action="{{ url_for('root.cliente.novo_cliente_post') }}" method="POST" autocomplete='off'>
        <div class='mb-3 d-flex align-items-center'>
            <label for='nome' class='me-2'>Nome:</label>
            <input class='form-control' type='text' name='nome' id='nome' placeholder='Informe o Nome do cliente'
                   required autofocus/>
        </div>

        <div class='mb-3 d-flex align-items-center'>
            <label for='cpf' class='me-2'>CPF:</label>
            <input class='form-control' type='text' name='cpf' id='cpf' placeholder='Informe o CPF do cliente'
                   required/>
        </div>

        <div class='mb-3 d-flex align-items-center'>
            <label for='telefone' class='me-2'>Telefone:</label>
            <input class='form-control' type='tel' name='telefone' id='telefone'
                   placeholder='Informe o telefone do cliente' required/>
        </div>

        <div class='mb-3 d-flex align-items-center'>
            <label for='email' class='me-2'>Email:</label>
            <input class='form-control' type='email' name='email' id='email' placeholder='Informe o e-mail do cliente'
                   required/>
        </div>

        <div class='mb-3 border-bottom border-dark'></div>
        <h5>Endereço do Cliente</h5>

        <div class='my-3 d-flex align-items-center'>
            <label for='cep' class='me-2'>CEP:</label>
            <input class='form-control w-25 me-3' type='text' name='cep' id='cep' placeholder='Informe o CEP do cliente'
                   maxlength="9" required/>
            <button type="button" class='btn btn-secondary' id="buscaCepButton">Buscar CEP</button>
        </div>

        <div class='mb-3 d-flex align-items-center'>
            <label for='logradouro' class='me-2'>Logradouro:</label>
            <input class='form-control' type='text' name='logradouro' id='logradouro'
                   placeholder='Informe o logradouro do cliente' required/>
            <label for='numero' class='mx-2'>Número:</label>
            <input class='form-control w-25' type='number' name='numero' id='numero'
                   required/>
        </div>

        <div class='mb-3 d-flex align-items-center'>

        </div>

        <div class='mb-3 d-flex align-items-center'>
            <label for='complemento' class='me-2'>Complemento:</label>
            <input class='form-control' type='text' name='complemento' id='complemento'
                   placeholder='Informe o complemento (Opcional)'/>
        </div>

        <div class='mb-3 d-flex align-items-center'>
            <label for='bairro' class='me-2'>Bairro:</label>
            <input class='form-control' type='text' name='bairro' id='bairro' placeholder='Informe o bairro do cliente'
                   required/>
        </div>


        <div class='mb-5 d-flex align-items-center'>
            <label for='cidade' class='me-2'>Cidade:</label>
            <input class='form-control' type='text' name='cidade' id='cidade' placeholder='Informe a cidade do cliente'
                   required/>
            <label for='uf' class='mx-2'>UF:</label>
            <input class='form-control' type='text' name='uf' id='uf' maxlength="2"
                   style="width: 10%; text-transform:uppercase;" required/>
        </div>

        <div class='mb-3'>
            <button type='submit' class='btn btn-primary mb-3'>Cadastrar</button>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/clientes/clientes.js') }}"></script>
{% endblock script %}
